<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="product" name="Licese" point="org.eclipse.core.runtime.products">
      <product name="Licenses" application="license.server.application.E4HeadlessApplication">
         <property name="lifeCycleURI" value="bundleclass://license.server.application/license.server.application.E4LifeCycle" />
         <property name="applicationXMI" value="license.server.application/Application.e4xmi" />
         <property name="appName" value="Licenses" />
      </product>
   </extension>
   <extension id="modelContribution" point="org.eclipse.e4.workbench.model">
      <processor apply="always" beforefragment="false" class="license.server.application.E4Processor"/>
   </extension>
      <extension id="license.server.application.E4HeadlessApplication" point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global" thread="main" visible="true">
         <run class="license.server.application.E4HeadlessApplication" />
      </application>
</extension>
</plugin>
